@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&family=Roboto&display=swap");

:root {
  --yellow-background-color: rgba(255, 255, 239, 1);
  --color-main: rgba(86, 89, 61, 1);
  --color-price: rgba(113, 115, 83, 1);
  --color-body: rgba(255, 255, 255, 1);
  --fw-normal: 400;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  background-color: var(--color-body);
  font-family: "Roboto", "Jost", sans-serif;
}
