.header__icons-icon {
  width: 32px;
  height: 32px;
  @media (max-width: 1250px) {
    width: 29px;
    height: 29px;
  }

  @media (max-width: 768px) {
    width: 23px;
    height: 23px;
  }

  @media (max-width: 568px) {
    width: 18px;
    height: 18px;
  }

  @media (max-width: 468px) {
    width: 16px;
    height: 16px;
  }
}
