.header__navigation-element {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.2px;
  letter-spacing: 1.5750000476837158px;
  color: var(--color-main);
  display: flex;
  text-transform: uppercase;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.header__navigation-element span {
  margin-right: 7px;
}

.header__navigation-element svg {
  margin-top: 5px;
}
